
#container2 {
    height: 2400px;
    display: grid;
    place-items: center;
    margin-top: 0px;
}

#slider-container2 {
    height: 360px;
    width: 85vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-top: 0px;
}

    #slider-container2 .btn2 {
        position: absolute;
        top: calc(50% - 30px);
        height: 15px;
        width: 15px;
        border-left: 8px solid #525252;
        border-top: 8px solid #525252;
        cursor: pointer;
        z-index: 3;
    }

        #slider-container2 .btn2:hover {
            transform: scale(1.2);
        }

        #slider-container2 .btn2.inactive {
            border-color: #050505;
        }

        #slider-container2 .btn2:first-of-type {
            transform: rotate(-45deg);
            left: 10px
        }

        #slider-container2 .btn2:last-of-type {
            transform: rotate(135deg);
            right: 10px;
        }

    #slider-container2 #slider2 {
        display: flex;
        width: 1000%;
        height: 100%;
        transition: all .5s;
    }

        #slider-container2 #slider2 .slide2 {
            height: 90%;
            margin: auto 10px;
            background-color: #cfcfcf;
            border-radius: 5px;
            box-shadow: 2px 2px 4px 2px #dddddd, -2px -2px 4px 2px #dddddd;
            display: grid;
            place-items: center;
        }

            #slider-container2 #slider2 .slide2 .imagen2 {
                height: 250px;
                width: 250px;
                margin: auto 10px;
                background-color: #b5b5b5;
                border-radius: 5px;
                display: grid;
                place-items: center;
            }

            #slider-container2 #slider2 .slide2 span {
                color: white;
                font-size: 120px;
                top: auto;
            }

@media only screen and (min-width: 1100px) {
    #slider-container2 #slider2 .slide2 {
        width: calc(2.5% - 20px);
    }
}

@media only screen and (max-width: 1100px) {
    #slider-container2 #slider2 .slide2 {
        width: calc(3.3333333% - 20px);
    }
}

@media only screen and (max-width: 900px) {
    #slider-container2 #slider2 .slide2 {
        width: calc(5% - 20px);
    }
}

@media only screen and (max-width: 550px) {
    #slider-container2 #slider2 .slide2 {
        width: calc(10% - 20px);
    }
}

.imagenDep2 {
    position: absolute;
    top: 1490px;
    height: 500px;
    width: 400px;
}

@media only screen and (max-width: 1100px) {
    .imagenDep2 {
        height: 250px;
        width: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .imagenDep2 {
        height: 125px;
        width: 100px;
    }
}

@media only screen and (max-width: 150px) {
    .imagenDep2 {
        height: 125px;
        width: 100px;
        display: grid;
        gap: 10px;
    }
}

.contenedor2 {
    display: flex;
}

.imagen2 {
    width: 540px;
    height: 348px;
    margin-right: 50px;
    left: 0px;
    border: 2px solid #333;
}

#contenedor2 .h2 {
    font-weight: bold;
    background-color: #84f2f6;
}

#contenedor2 {
    line-height: 1.5;
    font-size: 8px;
}

@media only screen and (max-width: 850px) {
    .contenedor2 {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .imagen2 {
        width: 270px;
        height: 174px
    }
}

.imagenButton2 {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    margin: auto 10px;
    background-color: #b5b5b5;
    border-radius: 5px;
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
}
